.leftSidebar {
    background-color: #4C4D4F;
    border-color: #4C4D4F;
}

.display {
    background-color: #4C4D4F;
}

.mainbar {
    background-color: #4C4D4F;
}

.card-text {
    color: black;
}

.result-data .result-title {
    color: #0056b3;
}